.header{
    padding: 45px 5px;
    background-color:#6e7399 ;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
}

body{
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    
}

.nav a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    display: block;
    transition: all 0.3s ease-out;
}
a.active,a:hover{
    border: 1px solid white;
    transition: .5s
}



.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;   
}

.nav li{
    margin-left: 20px;
}

.nav a:hover{
    color: #c5cae9;
    transform: rotate(6deg);
}

.hero{
    background-color: #c5cae9 ;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
    
}

.hero .btn{
    background-color: rgb(37, 87, 153);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block
}

.hero-inner{
    max-width: 800px;
}

.hero h1{
    font-weight: normal;
    font: size 4rem; 
    margin: 0;
}

.img-1__1 img{
    height: max-content;
    width: max-content;
}

.img-1__1{
    position: relative;
    text-align: center;
    background-size: cover;
}


.img-1__1 span{
    color: #000000;
    font-size: 3vh;
    text-align: center;
    text-transform: uppercase;
    background: #e8eaf6;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

.img-1 h1{
    padding-left: 10vh;
    font-size: 60px;
    color: rgb(255, 255, 255);
    
}



.hero p{
    font-size: 1.18rem;
    line-height: 1.6;
}



.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block
}
.btn:hover{
    color: #000000;
}

.features{
    background-color: #e8eaf6;
    padding: 60px 45px;
   
}


.features h1{
    text-align: center;
    color:#283593 ;
}

.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;

}

.featured-item h3{
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}
.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.footer{
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: .9rem;
    
}


.portfolio{
    padding: 65px 45px;
    margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.portfolio p{
    line-height: 1.6;
}

.portfolio img{
    padding: 12px 10px;
    width: 300px;
    height: 150px;
    object-fit: contain;
   
}

.My_Experience{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: normal;
}
.My_Experience .contact{
    font-size: 1.1rem;
}

.emoji{
    margin: 0;
}
.emoji .red{
    
    color: red;
}

.emoji a{
    color: black;
    text-decoration: none;
    padding-left: 12px;
    font-size: 2.5rem;
}

.new-class{
    margin: 0;
    padding: 12px auto;
    justify-content: center;
    text-align: center;
}